@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotate-animation {
    animation: rotate 2s linear infinite;
}

.wide-text-field {
    width: 100%;
  }

  .wide-tall-textarea {
    width: 100%;
    height: 15em;
    font-family: monospace;
  }

  .monospace-font {
    font-family: monospace;
  }